NODE_ENV=test
DATABASE_URL_E2E=postgres://med_user:med_pass@localhost:5432/med_clinic_e2e

# Segredos de teste (não usar em produção)
JWT_SECRET=test_jwt_secret
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=test_refresh_secret
REFRESH_TOKEN_EXPIRES_IN=7d
COOKIE_SECRET=test_cookie_secret

# Redis local para testes
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB_E2E=2
